@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap");
body {
  font-family: "Lexend", sans-serif;
  overflow: hidden;
}
.blue {
  color: #4285f4;
  margin-right: -10px;
}
.red {
  color: #ea4335;
  margin-right: -10px;
}
.green {
  color: #34a853;
  margin-right: -10px;
}
.yellow {
  color: #fbbc05;
  margin-right: -10px;
}
.center {
  margin: auto;
  margin-top: 100px;
}
.logo {
  text-align: center;
  margin-top: 20px;
}
.logo h2 {
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.search {
  text-align: center;
  position: relative;
  width: 50%;
  margin: auto;
}
.search_box {
  border-radius: 21px;
  height: 40px;
  width: 80%;
  margin-bottom: 20px;
  padding-left: 40px;
  border: 1px solid #e7e8eb;
  transition: 3ms;
}
.search_box:hover {
  box-shadow: 3px 2px 20px 2px #888888;
}
/*
 box-shadow: 3px 2px 5px 2px #888888;
 first = horizontal 
 second = vertical alignment
 third = blur
 fourth = spread
*/
input::placeholder {
  font-family: "Lexend", sans-serif;
}
i {
  position: absolute;
  top: 13px;
  left: 65px;
}
.fa-microphone {
  position: absolute;
  right: -470px;
}
.buttons {
  width: 50%;
  margin-top: 10px;
  text-align: center;
}
.button {
  width: 30%;
  height: 35px;
  border-radius: 4px;
  background-color: #f8f9fa;
  border: none;
  margin: 10px;
}
.button:hover {
  border: 1px solid #e1e2e4;
  cursor: pointer;
  box-shadow: 3px 2px 5px 2px #888888;
}
.box {
  height: 100px;
  width: 80px;
  background-color: #f8f9fa;
  position: relative;
  margin: auto;
  border-radius: 3px;
  margin-top: 20px;
}
.box:hover {
  box-shadow: 3px 2px 5px 2px #888888;
  cursor: pointer;
}
.box i {
  position: absolute;
  left: 25px;
  font-size: 30px;
}
.box_span {
  font-size: 13px;
  position: absolute;
  top: 50px;
  text-align: center;
}
